<div class="flex">
  <div class="left">
    <h1>Hello! I am Maxime</h1>
    <p>Web developer and ergonomist, I am mainly interested in the implementation and improvement of the architecture and logic that allows the different processes to be carried out successfully. </p>
    <div class="infos-left">
      <div class="inline-infos">
        <div>
          <%= link_to "My CV", "#", class:'btn button' %>
          <h5><%= @projects.count %></h5>
          <p>Project Done</p>
        </div>
        <div>
          <%= link_to "Projects", "#", id:'project-link' %>
          <h5>Contact</h5>
          <p>maxime.moreira@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="infos-left-black">
      <h4>Actuality</h4>
      <br>
      <%= Date.today %>
      <p>Working on a new project for a concierge service</p>
    </div>
  </div>
  <div class="right">
    <%= image_tag 'CSS.png', id:"css" %>
    <%= image_tag 'html.png', id:"html" %>
    <%= image_tag 'JS.png', id:"js" %>
    <%= image_tag 'profil.png', id:"profil" %>
    <%= image_tag 'ruby.png', id:"ruby" %>
    <%= image_tag 'rails.png', id:"rails" %>
  </div>

</div>
